<div class="container">  
  <form id="data" action="/calculate" method="post">
    <h3>Renda per Capita</h3>
    
    <fieldset>
      <input id="cepInput1" name="cep1" placeholder="CEP(Apenas números)" type="text" tabindex="1" required>
    </fieldset>
    
    <fieldset>
      <input id="cepInput2" name="cep2" placeholder="CEP(Apenas números)" type="text" tabindex="2" required>
    </fieldset>

    <fieldset>
      <input id="cepInput3" name="cep3" placeholder="CEP(Apenas números)" type="text" tabindex="3" required>
    
    </fieldset>
    <fieldset>
      <input id="cepInput4" name="cep4" placeholder="CEP(Apenas números)" type="text" tabindex="4" required>
    
    </fieldset>
    <fieldset>
      <input id="cepInput5" name="cep5" placeholder="CEP(Apenas números)" type="text" tabindex="5" required>
    </fieldset>

    <fieldset>
      <button id="btnSubmit" name="submit" type="submit" id="data-submit" data-submit="...Sending">Enviar</button>
    </fieldset>
    
  </form>
</div>