<div class="container">

  <div id="data">
    
      <h3>Desafio Kukac</h3>
      <form action="/palindromes" method="get">
        <fieldset>
          <button id="btnSubmit" name="submit" type="submit" id="data-submit" data-submit="...Sending">Verificar
            palindromos</button>
        </fieldset>
      </form>

      <form action="/minimum" method="get">
        <fieldset>
          <button id="btnSubmit" name="submit" type="submit" id="data-submit" data-submit="...Sending">Notas
            mínimas</button>
        </fieldset>
      </form>

      <form action="cep" method="get">
        <fieldset>
          <button id="btnSubmit" name="submit" type="submit" id="data-submit" data-submit="...Sending">Informar
            CPFs</button>
        </fieldset>
      </form>

    

  </div>


</div>