<div class="container">
    <form id="data" action="/calculatePalindromes" method="post">
        <h3>Números Palindromos</h3>
        <fieldset>
            <p>Digite um número, esse número será o limite e o sistema irá exibir os números palindromos até o número
                indicado.</p>
        </fieldset>
        <fieldset>
            <input id="palindromes" name="limitNumber" placeholder="Limite" type="number" min="0" tabindex="1" required>
        </fieldset>
        <fieldset>
            <button id="btnSubmit" name="submit" type="submit" id="data-submit"
                data-submit="...Sending">Calcular</button>
        </fieldset>
        <fieldset style="text-align: center;">
            <a href="/">Voltar pro menu</a>
        </fieldset>

    </form>

</div>